%base-btn {
	font-family: 'Helvetica';
	padding: 5px 10px;
	color: white;
	font-size: 16px;
	text-decoration: none;
	@include box-shadow(#B3B3B3 0px 4px 2px -2px);
}

.btn-blue {
	@extend %base-btn;
	background: $lightBlue;
	@include background-image(linear-gradient(top, $lightBlue, $darkBlue));
	border: 1px solid $darkBlue;
	&:hover, &:active {
		background: lighten($lightBlue, 5%);
		@include background-image(linear-gradient(top, lighten($lightBlue, 5%), lighten($darkBlue, 5%)));
	}
}