.home {
	@media (max-width: $break-medium) {
		h1, img {
			margin-top: 10px;
		}
	}
	@media (max-width: $break-small) {
		h1 {
			margin-top: 13px;
		}
		.row {
			position: relative;
		}
	}
	h2 {
		margin-top: -14px;
		line-height: 1.5;
		color: #868686;
	}
	ul {
		list-style: none;
		padding: 15px 0;
		border-top: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		margin: 25px 0;
	}
	li {
		line-height: 1.8;
		background: url("../gfx/icons/check-small.png") no-repeat left top;
		padding-left: 40px;
	}
}