.home {
	@media (max-width: $break-medium) {
		h1 {
			margin-top: 10px;
		}
	}
	h2 {
		margin-top: -10px;
		line-height: 1.5;
		color: #868686;
	}
	ul {
		list-style: none;
		padding: 15px 0 15px 40px;
		border-top: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
	}
	li {
		line-height: 1.8;
	}
	img {
		width: 100%;
	}
}