// Vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;


h1 {
    @include adjust-font-size-to(42px);
}

h2 {
    @include adjust-font-size-to(24px);
}

h3 {
    @include adjust-font-size-to(20px);
}

h4 {
    @include adjust-font-size-to(18px);
}

// Font family
@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/myriadpro-regular.eot');
    src: url('fonts/myriadpro-regular.eot') format('embedded-opentype'),
         url('fonts/myriadpro-regular.woff') format('woff'),
         url('fonts/myriadpro-regular.ttf') format('truetype'),
         url('fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/myriadpro-boldcond.eot');
    src: url('fonts/myriadpro-boldcond.eot') format('embedded-opentype'),
         url('fonts/myriadpro-boldcond.woff') format('woff'),
         url('fonts/myriadpro-boldcond.ttf') format('truetype'),
         url('fonts/myriadpro-boldcond.svg#MyriadProboldcond') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'MyriadProRegular';
}

h1 {
    font-family: 'MyriadProBold';
}

p {
    color: $black;
}